body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.sidebar {
  width: 250px;
  background-color: #675dfe;
  color: white;
  position: fixed; /* Sidebar tetap di tempat */
  top: 0;
  left: 0;
  height: 100vh; /* Penuh dari atas ke bawah */
  overflow-y: auto; /* Jika isi terlalu panjang */
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
  height: 70px;
}

.btn-outline-primary {
  color: #594ddc;
  border-color: #594ddc;
}

.content {
  flex: 1;
  padding: 2rem;
  margin-left: 250px; /* Agar konten tidak tertutup sidebar */
}
.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1rem;
}
.sidebar a:hover,
.sidebar .active {
  background-color: #574ee5;
}

.navbar-logo {
  margin: 40px 10px 10px 10px;
  height: 60px;
  /* width: 100%; */
  margin-bottom: 1rem;
}

.header-sidebar {
  margin: 30px 0px 0px 0px;
  height: 70px;
}

/* table style */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 0.95rem;
}

.custom-table thead tr {
  background-color: #f8f9fa;
  color: #495057;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.custom-table tbody tr:hover {
  background-color: #f1f3f5;
}
